# The data intepreter

This Jupyter notebook will load and interpret our scraped data. These data contain information about games that digital platform Steam has to offer. We believe that gaming market becomes more and more significant part of economy, and according to that we should pay proportionate attention to it. We will mainly focus on inspecting distribution of release dates of these games throughout years and months. We will derive how much are numbers of released games growing across years and also in which months are games mostly released. We will put these numbers into context of sales, prices and ratings. This can help us to make general assumptions about evolution of quality of games. We will also focus on current sales, from which we will be able to see what kind of games are currently on sale. All this can provide us with deeper insight into functioning of gaming market in recent 20 or so years.

Firstly, we will import pandas package in order to load and save our data as pandas dataframe.

In [87]:
import pandas as pd

Our data are ordered by share of positive reviews. Let's take a look at them:

In [143]:
data = pd.read_csv('steam_global_sellers_by_reviews', index_col = 0)
data

,Title,Release date,Share of positive reviews (in %),Total number of reviews,Normal price (€),Discounted price if there is a sale (€),Sale rate (in %)
0,The Witcher 3: Wild Hunt - Expansion Pass,2015-05-19,99,3353,24.99,NaN,NaN
1,Senren＊Banka,2020-02-14,99,2864,29.99,NaN,NaN
2,A Short Hike,2019-07-30,99,2764,6.59,NaN,NaN
3,Aseprite,2016-02-22,99,2757,14.99,NaN,NaN
4,Doki Doki Literature Club Fan Pack,2017-09-22,99,1499,9.99,NaN,NaN
...,...,...,...,...,...,...,...
14981,Far Cry® 5 - Dead Living Zombies,2018-08-28,17,586,7.99,3.99,50.0
14982,Command &amp; Conquer 4: Tiberian Twilight,2010-03-16,17,2342,19.99,NaN,NaN
14983,Tom Clancy's Ghost Recon® Wildlands - Narco Road,2017-04-25,16,501,14.99,NaN,NaN
14984,Airport Simulator 2014,2013-12-19,12,536,9.99,2.99,70.0
14985,Flatout 3: Chaos &amp; Destruction,2011-12-13,12,2003,9.99,NaN,NaN

Now we will import necessary tools for data processing:

In [144]:
import requests
from bs4 import BeautifulSoup
from time import sleep
from tqdm import tqdm
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [155]:
from Data_processor_py import Summary
xx = Summary(data)
xx.hist_price()

AttributeError: 'Summary' object has no attribute 'hist_price'

In [66]:
import os
import sys
sys.path.append('C:\Users\Honza\Documents\GitHub\likememes')
import Data_processor.ipynb

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-66-c74b1153b5ce>, line 3)